body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f50000;
}

.container {
    max-width: 65%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 8px;
}


#preco1 {
    margin-bottom: 50px ;
}

input {
    width: calc(90% - 16px);
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-color: #000000;
    border-radius: 10px;
}

button {
    background-color: #037207;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 80%;
}

button:hover {
    background-color: #3dc72b;
}

#resultado {
    margin-top: 10px;
    font-weight: bold;
}

#imagemGarrafa1,
#imagemGarrafa2 {
    max-width: 10%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
}

select {
    padding: 5px;
    font-size: 16px;
    border: 2px solid #ff0000;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    width: 85%;
}

select::-ms-expand {
    display: none;
}

select:focus,
select:active {
    border-color: #02f316;
    box-shadow: 0 0 5px rgba(108, 117, 125, 0.5);
}

option {
    font-size: 14px;
}

#resultado .destaque-verde {
    color: green;
}

footer {
    text-align: center;
    font-size: small;
}